<!DOCTYPE html>
<html lang="en" ng-app="appKet">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="/">
	<title>KET</title>
	<link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/angular.js"></script>
	<script src="js/angular_route.js"></script>
</head>
<body ng-controller="mainCtrl" ng-cloak>
	<header>
		<div class="container">
			<a class="pull-left logo" href="#"><img class="img-responsive" src="img/logo.png" alt=""></a>
			<nav class="clearfix">
				<ul id="pageNav"  class="nav navbar-nav pull-right">
					<li ng-repeat="item in menuItems"><a ng-class="{'active': activeMenu == item.id}" ng-click="scrollTo(item.id); activateMenu(item.id);">{{item.name}}</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<main>
		<div ng-view></div>
	</main>	

	<footer>
		<div class="container text-center">
			<p class="">&copy; 2014 <span class="company-name">KET</span>. All Rights Reserved.</p>
			<a class="social facebook" href="#"></a>
			<a class="social dribble" href="#"></a>
			<a class="social twitter" href="#"></a>
			<a class="social google" href="#"></a>
		</div>
		
		<script src="js/angular-smooth-scroll.js"></script>
		<script src="js/script.js"></script>
	</footer>
</body>
</html>